body {
    padding: 0;
    margin: 0;
}
header {
    background-color: gainsboro;
    margin-bottom: 5vh;
    text-align: center;
    padding: 5px;
}

div#container {
    display: flex;
    justify-content: center;
}
div.post-block {
    width: 800px;
    background-color: gainsboro;
    padding: 10px;
}
img.post-image {
    width: 100%;
}
div.post-footer {
    display: flex;
}
span.post-meta,
span.post-score {
    display: block;
    flex: 1;
    font-size: 75%;
}
span.post-score {
    text-align: right;
}